#Tom{
    font-style: italic;
    color: brown;
}
#Jerry{
    font-size: 20px;
    font-style: oblique;
}
body{
    background-image: linear-gradient(90deg,red, yellow);
}
.TJ{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px;
    padding: 20px;
    border: 5px solid black;
    background-color: beige;
}
#Spike{
    text-align: right;
}
div.relative{
    position: relative;
    left: 100px;
    border: 3px solid black;
    background-color: beige;
    width: 400px;
    height: 200px;
}
div.absolute{
    position: absolute;
    top: 500px;
    right: 800px;
    border: 3px solid black;
    background-color: beige;
    width: 400px;
    height: 200px;
}
img{
    float: left;
}


